@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid-stack {
    @apply grid grid-cols-1 grid-rows-1;
  }
  .grid-stack > * {
    grid-row: 1 /1;
    grid-column: 1 /1;
  }
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000;
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .flexible-grid {
    @apply grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .search-bar-grid {
    @apply grid;
    grid-template-areas:
      "logo login"
      "input input";
  }
}
